extends /components/layout

block head
  +head("Project+ Website")

block content
  +header("changes")

  include data

  section.section
    .container
      h1.title Changes in Project+ v1.05b
      p.bold Automatically parsed from the Google Document, errors still possible.
      
      - const replaceAll = (str, find, replace) => str.replace(new RegExp(find.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1"), "g"), replace)

      each char in data
        - const trimmed = replaceAll(char.title, ":", "")
        - const link = replaceAll(trimmed, " ", "-")

        h2.title.is-4(
          style="margin-top: 3rem"
        )
          a(onclick=`toggleFold(this, "${link}")`)
            span(style="margin-right: 0.5rem; user-select: none; font-family: Arial") ►
            span(id=link)= trimmed
          a(data-clipboard-text=link).fa.fa-link

        .content(data-fold=link style="display: none")
          ul
            each attr in char.attributes
              li= attr

          ul
            each move in char.moves
              li.bold(class=move.title.type)
                - const sublink = link + ">" + replaceAll(move.title.text, " ", "-")
                span(id=sublink)=move.title.text
                a(data-clipboard-text=sublink).fa.fa-link
              ul
                each change in move.changes
                  if change.changes
                    // further nesting?
                    - const classes = change.title.type === "none" ? "bold" : change.title.type
                    li(class=classes)= change.title.text
                    ul
                      each subchange in change.changes
                        li(class=subchange.type)= subchange.text
                  else 
                    // no further nesting
                    li(class=change.type)= change.text
    script(src="/js/clipboard.min.js")
    script.
      new ClipboardJS("a.fa-link", {
        text: el => window.location.origin + window.location.pathname + "#" + el.dataset.clipboardText
      })

      const toggleFold = (source, target) => {
        const targetEl = document.querySelector(`[data-fold="${target}"]`)

        const isFolded = targetEl.style.getPropertyValue("display") === "none"

        if (isFolded) {
          targetEl.style.setProperty("display", "")
          source ? source.innerHTML = "▼" : null
        } else {
          targetEl.style.setProperty("display", "none")
          source ? source.innerHTML = "►" : null
        }
      }

      if (window.location.hash) {
        const path = decodeURI(window.location.hash).substr(1).split(">")
        toggleFold(null, path[0])
      }