extends /components/layout

mixin changelogHead(version, date, linkObject)
  a(data-target=version).dropdown
    h1.title.link(style="text-align:left;float:left;margin-top: 1.2rem")= "Changes in Project+ " + version 
  b(style="text-align:right;float:right")= "Release Date: " + date
  .group
    br(style="clear:both")
    each link, text in linkObject
      a.button.is-link(href=link)= text

mixin characterTitle(characterLink, characterStock, character)
  h2.title.is-4(style="margin-top: 1.2rem")
    span.char-icon
      if !["Costumes & Aesthetics", "Misc", "Stages"].includes(character.name)
        img(src=`/img/chars/${characterStock}.png`)
      else
        -
          let pointIcon = "smash"
          switch(character.name) {
            case "Costumes & Aesthetics": pointIcon = "stickers"; break
            case "Stages": pointIcon = "stages"; break
            default: pointIcon = "smash"
          }
        img(src=`/img/icons/${pointIcon}.png`)
    a(data-target=characterLink).dropdown
      span.link= character.name
    a(data-clipboard-text=characterLink title="Copy link to clipboard").fa.fa-link

mixin subChange(change, characterLink, replaceAll)
  if typeof change !== "string"
    li.bold
      - const sublink = characterLink + "#" + replaceAll(change.title, " ", "-")
      span= change.title
      a(data-clipboard-text=sublink title="Copy link to clipboard").fa.fa-link
    ul
      each subChange in change.changes
        if typeof subChange !== "string"
          li= subChange.title
          ul
            each microChange in subChange.changes
              if typeof microChange !== "string"
                li= JSON.stringify(microChange)
              else
                li= microChange
        else
          li= subChange
  else
    li= change

mixin changelogCharacter(character, version, date, replaceAll)
  - const characterLink = version + "#" + replaceAll(character.name, " ", "-")
  - const characterStock = replaceAll(character.name, " ", "-")

  +characterTitle(characterLink, characterStock, character)

  .content(data-fold=characterLink style="display: none")
    ul(style="margin-top: -2rem")
      each change in character.moves
        each subChange in change
          +subChange(subChange, characterLink, replaceAll)

mixin changelog(characters, version, date, linkObject)
    section.section
      .container.maincard
        +changelogHead(version, date, linkObject)
 
        - const replaceAll = (str, find, replace) => str.replace(new RegExp(find.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1"), "g"), replace)
 
        .group(data-fold=version style="display: none;margin-top: 2.2rem")
          each character in characters
           +changelogCharacter(character, version, date, replaceAll)
 
block head
  +head("Project+ Website")
 
block content
  +header("pastchanges") 

  link(href="/css/style.css" type="text/css" rel="stylesheet")

  //include changelog ##log

  include 215log
  include 211log
  include 20log

  //const, version, release date, links

  +changelog(characters_215, "v2.15", "6/23/20", {
    "Google Doc Version": "https://docs.google.com/document/d/1pfvmbOpOhu7Pys_kWrWYC5A4SSLLY0YLXx6_gXJi4Ds"
  })

  +changelog(characters_211, "v2.11", "4/20/20", {
    "Google Doc Version": "https://docs.google.com/document/d/1Lo2t1zvk897dK8eWWEx1ImNoZjICW5G7hK_9clqyjlQ"
  })

  +changelog(characters_20, "v2.0", "3/17/20", {
    "Google Doc Version": "https://docs.google.com/document/d/1AH3UlDzE6Ns0NFul0poLG9_SjF3dTBRAVNObf5IMP2Y/edit#",
    "v1.05b  > 2.0 Changelog": "https://docs.google.com/document/d/1h8W6rt1B4PtFY1ndpgKh8qbLCxwBR25ahaATA0nIJys/edit#"
  })

  //Kirbeast was here
  
  script(src="/js/clipboard.min.js")
  script(src="https://kit.fontawesome.com/acf25e660e.js")
  script(src="/js/dropdown.js")